{% extends "base.html" %}
{% block title %}Affordability Metric Intro | CMD{% endblock %}

{% block content %}
<div class="page-wrapper d-flex align-items-center justify-content-center">
    <div class="text-center px-4" style="max-width: 800px;">
        <h4 class="fw-bold mb-4">Design an Affordability Fairness Metric</h4>
        <p class="lead">Compare features influencing creditworthiness (LHS) against personal/background factors (RHS).</p>
        <ol class="text-start mt-3">
            <li>Select Features and conditions for creditworthiness on Left Hand Side card.</li>
            <li>Select Features and conditions for personal/background factors on Right Hand Side card.</li>
            <li>By default, both LHS and RHS are compared with eachother. But if you require any other logic, please let the researcher know your preferences.</li>
            <li>Set a global threshold to determine when the metric flags an outcome.</li>
            <li>Review and optionally save your configuration</li>
        </ol>

        <a href="{% url 'affordability_builder' staging_id=staging_id %}" class="btn btn-success rounded-pill px-5 py-3 fs-5 mt-4">Next</a>
    </div>
</div>

{% endblock %}
