{% extends "base.html" %}
{% block title %}Combine Fairness Metrics | CMD{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="form-container">
        <div class="form-wrapper">
            <h3 class="fw-bold mb-4">Combine Fairness Metrics</h3>

            <p class="text-muted fs-5">
                In this flow, you will build fairness metric by combining existing metrics using boolean logic (e.g., <strong>AND</strong>, <strong>OR</strong>) and assigning a weight to each.
            </p>

            <ul class="mb-4 fs-5">
                <li>Select Features and bin them appropriately</li>
                <li>Choose a pre-defined metric that aligns with your goals</li>
                <li>Set a threshold value (0–100%) for the metric to flag outcomes</li>
                <li>Review and optionally save your configuration</li>
                <li>Repeat to add multiple metrics</li>
                <li>Then: Combine them using weights and logic</li>
                <li>Review the whole chain and optionally save your configuration</li>
            </ul>

            <div class="text-center mt-5">
                <a href="{% url 'design_metric_features' staging_id=staging_id %}" class="btn btn-success rounded-pill px-5 py-3 fs-5">
                    Start Building
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
